spring:
  application:
    name: frotaPro
  profiles:
    active: dev

  jackson:
    mapper:
      accept-case-insensitive-enums: true

server:
  error:
    include-message: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

jwt:
  public:
    key: classpath:authz.pub
  private:
    key: classpath:authz.pem