spring:
  application:
    name: frotaPro

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    mapper:
      accept-case-insensitive-enums: true

server:
  error:
    include-message: always
